<div class=" mb-5 d-flex">
  <input type="file" name="" id="" (change)="cahngeEvent($event)">
  <button (click)="send()" class="btn btn-primary">
    Enviar
  </button>

</div>

<div class="" *ngIf="data.length > 0">

  <table class="table m-table">
    <thead>
      <th *ngFor="let question of tableHeads" class="scope">
        {{ question }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of formattedArray">
        <td *ngFor="let cell of row">
          {{ cell }}
          <!-- <span style="font-weight: bold;"> {{ cell.key }} - </span>  {{ cell.value }} -->
        </td>
      </tr>
    </tbody>
  </table>


</div>
